<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286072090024-gfh0l776fkigh4phvf8lslavd06q2e95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286072090024-gfh0l776fkigh4phvf8lslavd06q2e95</string>
	<key>API_KEY</key>
	<string>AIzaSyAVn8PRRNHbwi8iu1OYfO90HS6-uHEtq9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>286072090024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bloomproductive.bloom</string>
	<key>PROJECT_ID</key>
	<string>bloom-da824</string>
	<key>STORAGE_BUCKET</key>
	<string>bloom-da824.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286072090024:ios:1cf7c9eb6111343661419d</string>
</dict>
</plist>